<?xml version="1.0" encoding="UTF-8"?>
<configuration
		xmlns="http://ch.qos.logback/xml/ns/logback"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
	<property name="sharedPattern"
			  value="%logger{10}:%-5.5level]: %msg%n%rEx"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>[${sharedPattern}</pattern>
		</encoder>
	</appender>
	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/service-%d{yyy-MM-dd,Universal}.log.gz</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS,Universal}] [%thread:${sharedPattern}</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
	</root>
</configuration>
